@import models.UserSignIn
@(userSignInForm: Form[UserSignIn])(implicit messages: MessagesProvider,request:RequestHeader)


@import helper._
@main("Welcome to Play") {
@CSRF.formField
<form method="post" action= "@routes.ProfileController.storeUpdatedPassword">
    Email:<br>
    <input type="text" name="email" >
    <br>
    Password:<br>
    <input type="password" name="password" >
    <br>
    ConfirmPassword:<br>
    <input type="password" name="confirmPassword" >
    <br><br>
    <button type="Submit" value="UpdatePassword">Update Password
    </button>
</form>
}
